export CAPI_AWS_ACCESS_KEY_ID=
export CAPI_AWS_SECRET_ACCESS_KEY=
export GIT_USER=
export GIT_REPO_NAME=
export AWS_REGION=us-east-2
export AWS_SSH_KEY_NAME=
# Select instance types
export AWS_CONTROL_PLANE_MACHINE_TYPE=t3.large
export AWS_NODE_MACHINE_TYPE=t3.large